<div class="flex flex-wrap h-screen">
    <div class="col-7 h-full p-3">
        <div #mapPanel class="map-border h-full shadow-2"> </div>
    </div>
    <div class="col-5 h-full py-3">
        <div class="shadow-2 h-full">
            <p-table [value]="states" [scrollable]="true" scrollHeight="flex">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>ภูมิภาค</th>
                        <th>ชื่อรัฐ(แบบเต็ม)</th>
                        <th>ชื่อรัฐ(แบบย่อ)</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-state>
                    <tr [ngClass]="this.selectedState === state.id?'active':'inactive cursor-pointer'"
                        (click)="onDataRowClick(state);">
                        <td>
                            {{state.sub_region}}
                        </td>
                        <td>
                            {{state.state_name}}
                        </td>
                        <td>
                            {{state.state_abbr}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>